<section id="about" class="about-mf sect-pt4 route">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="box-shadow-full">
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-sm-6 col-md-5">
                  <div class="about-img">
                    <img src="../assets/img/testimonial-2.jpg" class="img-fluid rounded b-shadow-a" alt="">
                  </div>
                </div>
                <div class="col-sm-6 col-md-7">
                  <div class="about-info">
                    <p><span class="title-s">Name: </span> <span>{{ formData.name }}</span></p>
                    <p><span class="title-s">Profile: </span> <span>{{ formData.headline }}</span></p>
                    <p><span class="title-s">Email: </span> <span>{{ formData.email }}</span></p>
                    <p><span class="title-s">Phone: </span> <span>{{ formData.phone }}</span></p>
                  </div>
                </div>
              </div>
              <div class="skill-mf">

                <h5 class="title-left">
                  Skills
                </h5>

                <div *ngFor="let skill of skills">

                  <span>{{ skill }}</span> <span class="pull-right">{{ getRandomNumber() }}</span>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" [style.width.%]="randomNumber"  aria-valuenow="85" aria-valuemin="0"
                    aria-valuemax="100"></div>
                </div>
                </div>

              </div>
            </div>
            <div class="col-md-6">
              <div class="about-me pt-4 pt-md-0">
                <div class="title-box-2">
                  <h5 class="title-left">
                    About me
                  </h5>
                </div>
                <p class="lead">
                  {{ formData.about }}
                </p>
                <div class="linkedin" style="text-align: center;">
                  <p>Read more about me on Linkedin:</p>
                <a href="{{ formData.linkedin }}"><img src="../assets/img/Linkedin-Logo.png" style="width: 150px;"></a>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
