  <!--/ Intro Skew Star /-->
  <div id="home" class="intro route bg-image" style="background-image: url(../assets/img/bg.jpeg); height: 500px;">
    <div class="overlay-itro"></div>
    <div class="intro-content display-table">
      <div class="table-cell">
        <div class="container">

          <h1 class="intro-title mb-4">I am {{ formData.name }}</h1>
          <p class="intro-subtitle"><span><i>{{ formData.headline }}</i></span>
            <strong class="text-slider"></strong></p>
        </div>
      </div>
    </div>
  </div>
  <!--/ Intro Skew End /-->
