<section id="education" class="edu-mf sect-pt4 route">
  <div class="container">
    <div class="row">
        <div class="box-shadow-full">
          <div class="row">

            <h5 class="title-left">
              Education
            </h5>
          </div>
          <div class="row" style="text-align: center; margin-top: 10px;">
            <div class="col-md-6" style="height: 150px; background-color: #5e9cfb;">
              <h3 class="">{{ formData.school1 }}</h3>
              <h4>{{ formData.degree1 }}</h4>
              <h4>{{ formData.gradDate1 }}</h4>
            </div>

            <div class="col-md-6" style="height: 150px; background-color: #5e9cfb;">
              <h3 class="">{{ formData.school2 }}</h3>
              <h4>{{ formData.degree2 }}</h4>
              <h4>{{ formData.gradDate2 }}</h4>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>
