<div class="container">
  <div class="row">
    <div class="col-xs-12" style="text-align: center;">
      <h2>Welcome to Angular resume builder App</h2>
      <p>Please import your data into the form in order to build your resume in view section.</p>
      <div class="col-md-6"><button class="button button-a button-big button-rouded" routerLink="/form" style="width: 100%">Form</button></div>
      <div class="col-md-6"><button class="button button-a button-big button-rouded" routerLink="/view" style="width: 100%">View</button></div>
    </div>
  </div>
</div>
<hr>

<router-outlet></router-outlet>
