  <!--/ Nav Star /-->
  <nav class="navbar navbar-b navbar-trans navbar-expand-md fixed-top" id="mainNav" style="background-color: #070d33; margin-bottom: 0px;">
    <div class="container">
      <div class="navbar-collapse collapse justify-content-end" id="navbarDefault">
        <ul class="navbar-nav" style="list-style-type:none;">
          <li class="nav-item">
            <a class="nav-link" routerLink="/view" fragment="home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/view" fragment="about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/view" fragment="education">Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/view" fragment="experiences">Professional Experiences</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/view" fragment="contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
