<section id="experiences" class="edu-mf sect-pt4 route">
  <div class="container">
    <div class="row">
        <div class="box-shadow-full">
          <div class="row">
            <h5 class="title-left">
              Professional Experiences
            </h5>
          </div>
          <div class="row" style=" margin-top: 10px; ">
            <div class="col-md-3" style="height: 150px; background-color: #5e9cfb; text-align: center;">
              <h3 class="">{{ formData.jobtitle1 }}</h3>
              <h4>{{ formData.org1 }}</h4>
              <h4>{{ formData.orgDate1 }}</h4>
            </div>

            <div class="col-md-9" style="height: 150px; background-color: #5599ff;">
              <h4>{{ formData.orgDetails1 }}</h4>
            </div>
          </div>
          <hr>

          <div class="row" >
            <div class="col-md-3" style="height: 150px; background-color: #5e9cfb; text-align: center;">
              <h3 class="">{{ formData.jobtitle2 }}</h3>
              <h4>{{ formData.org2 }}</h4>
              <h4>{{ formData.orgDate2 }}</h4>
            </div>

            <div class="col-md-9" style="height: 150px; background-color: #5599ff;">
              <h4>{{ formData.orgDetails2 }}</h4>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>
